<style>
    .rad {

        background-color: #AAAAAA;

        border: 1px solid #C0C0C0;

        width: 50px;

        height: 30px;

        text-align: center;

        vertical-align: middle;

        line-height: 30px;

        cursor: pointer;

    }
</style>
<script src="website/lib/petite-vue/petite-vue.iife.js"></script>
<script type="module">
    import { createApp, reactive } from '/website/lib/petite-vue/petite-vue.es.js'
    const global_values = reactive({
        examples: [],
        example_idx: 0, // request examples
        example_style: "overflow-x:auto; max-height: 450px",
        config_card_style: "overflow-x:auto; height: 450px",
        
    })
    createApp({
        tokens: 100, // user request token num
        max_tokens: 4096, // token limit
        min_tokens: 0, // token limit
        query_text: "", // user input
        output_textarea: "", // output value
        global_values, // used to update values from outside
        input_blur_listener(e) {
            // when user finish token input
            if (this.tokens > this.max_tokens) {
                this.tokens = this.max_tokens;
            }
            else if (this.tokens < this.min_tokens) {
                this.tokens = this.min_tokens;
            }
            else if (Number.isNaN(this.tokens) || "-" in this.tokens || "+" in this.tokens) {
                alert("not a number");
                this.tokens = 0;
            }
            else {
                alert("a number!")
                alert(this.tokens)
            }
        },
        input_event(e) {
            // when token input change
            this.tokens = e.target.value
        },
        query_submit() {
            // submit user input to get ai response
            let data = JSON.stringify({
                "query": this.query_text,
                "tokens": this.tokens
            })
            $.ajax({
                url: "/post_query",
                type: "post",
                dataType: "json",
                contentType: "application/json",
                data: data,
                success: (result, status, xhr) => {
                    // console.log(result)
                    let msg = result["msg"]
                    this.output_textarea = "[INPUT]\n"
                    this.output_textarea += msg["query"] + "\n\n[OUTPUT]\n"
                    this.output_textarea += msg["response"]
                },
                error: (xhr, status, error) => {
                    // console.error(status)
                    // console.error(xhr)
                    alert(status + "\n" + xhr.responseText)
                    this.output_textarea = status + "\n" + xhr.responseText
                }
            }
            )
        },
        on_example_click(e) {
            // copy example to input box
            this.query_text = e.target.innerText
        },
        get_examples(e) {
            // get examples from server
            $.get("/get_input_examples",
                {
                    "example_idx": global_values.example_idx
                },
                function (data, status, xhr) {
                    if (status == "success") {
                        console.log(data)

                        global_values.examples = data["examples"]
                        global_values.example_idx = data["example_idx"]

                    }
                    else {
                        console.error(status + "\n" + xhr)
                        alert(status + "\n" + xhr.responseText)
                    }
                },
            )
            
        }

    }).mount();

    function observeHeight() {
        const resizeObserver = new ResizeObserver(function() {
            global_values.example_style = "overflow-x:auto; max-height: "+ document.getElementById('input').clientHeight + "px"
            global_values.config_card_style = "overflow-x:auto; height: "+ document.getElementById('result').clientHeight + "px"
        });

        resizeObserver.observe(document.getElementById('result'));
        resizeObserver.observe(document.getElementById('input'));
    }

    observeHeight();
    global_values.example_style = "overflow-x:auto; max-height: "+ document.getElementById('result').clientHeight + "px"
    global_values.config_card_style = "overflow-x:auto; height: "+ document.getElementById('result').clientHeight + "px"
</script>

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-9">
            <div class="form-group">
                <label for="other">Output</label>
                <textarea class="form-control" id="result" rows="5" placeholder="Output"
                    v-model="output_textarea" readonly style="background-color: azure;height:240px"></textarea>
            </div>
        </div>
        
        <div class="col-sm-3" style="height:inherit">
            <div class="justify-content-center" >
                <div class="col-sm-12" >
                    <label for="config">Config</label>
                    <div :style="global_values.config_card_style" class="card" >
                        <div class="card-body">
                            <div class="form-group">
                                <label for="range-input">Max Tokens: </label>
                                <input type="number" class="form-control" id="range-input" :min="min_tokens"
                                    :max="max_tokens" step="1" :value="tokens" @input="input_event"
                                    @blur="input_blur_listener" />
                                <input type="range" class="form-control-range" id="range-value"
                                    :min="min_tokens" :max="max_tokens" step="1" v-model="tokens" />
                                    
                            </div>
                            <div class="form-group">
                                <button class="btn btn-info" @click="get_examples" @vue:mounted="get_examples">Get Input Examples</button>
                            </div>
                        </div>
                
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <div class="form-group">
                <label for="input">Input</label>
                <textarea class="form-control" id="input" style="height:250px;min-height: 250px;"
                    placeholder="Input your query" v-model="query_text"></textarea>
                    <div class="row justify-content-center mt-1 width:100%">
                        <button type="submit" class="btn btn-primary" id="submit-btn" @click="query_submit">submit</button>
                    </div>
            </div>
        </div>
        <div class="col-sm-3 justify-content-center " >
            <div class="form-group" >
                <label for="other">Example</label>
                
                <div :style="global_values.example_style">
                    <div class="alert alert-info"  v-for="example in global_values.examples" >
                        <p style="cursor: pointer; font-size:14px;" @click="on_example_click">{{ example }}</p>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
    
    


</div>