<style>
    .rad {

        background-color: #AAAAAA;

        border: 1px solid #C0C0C0;

        width: 50px;

        height: 30px;

        text-align: center;

        vertical-align: middle;

        line-height: 30px;

        cursor: pointer;

    }
</style>
<script src="website/lib/petite-vue/petite-vue.life.js"></script>
<script type="module">
    import { createApp } from '/website/lib/petite-vue/petite-vue.es.js'
    createApp({
        tokens: 100,
        max_tokens: 4096,
        min_tokens: 0,
        query_text: "",
        output_textarea: "",
        inputBlurListener(e){
            if(this.tokens > this.max_tokens){
                this.tokens = this.max_tokens;
            }
            else if(this.tokens < this.min_tokens){
                this.tokens = this.min_tokens;
            }
            else if(Number.isNaN(this.tokens) || "-" in this.tokens || "+" in this.tokens){
                alert("not a number");
                this.tokens = 0;
            }
            else{
                alert("a number!")
                alert(this.tokens)
            }
        },
        input_event(e){
            this.tokens = e.target.value
        },
        query_submit(){
            let data = JSON.stringify({
                "query": this.query_text
            })
            $.ajax({
                url: "/post_query",
                type: "post",
                dataType: "json",
                contentType: "application/json",
                data: data,
                complete: (xhr, status) => {
                    console.log(xhr)
                    console.log(status)
                },
                success: (result, status, xhr) => {
                    console.log(result)
                    let msg = result["msg"]
                    this.output_textarea = "[INPUT]\n"
                    this.output_textarea += msg["query"] + "\n\n[OUTPUT]\n"
                    this.output_textarea += msg["response"]
                }
            }
        )
        }

    }).mount()
    
</script>

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-9">
            <div class="form-group">
                <label for="input">Input</label>
                <textarea class="form-control" id="input" style="height:350px"
                    placeholder="Input your query" v-model="query_text"></textarea>
            </div>
        </div>

        <div class="row col-sm-3 justify-content-center">
            <div class="col-sm-12">
                <label for="config">Config</label>
                <div class="card" style="height:350px">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="range-input">Max Tokens: </label>
                            <input type="number" class="form-control" id="range-input" :min="min_tokens" :max="max_tokens" step="1" :value="tokens" @input="input_event" @blur="inputBlurListener"/>
                            <input type="range" class="form-control-range" id="range-value" :min="min_tokens" :max="max_tokens" step="1" v-model="tokens" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="other">Output</label>
                <textarea class="form-control" id="result" rows="5" placeholder="Output" v-model="output_textarea" readonly style="background-color: azure;"></textarea>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mb-5">
        <button type="submit" class="btn btn-primary" id="submit-btn" @click="query_submit">submit</button>
    </div>

</div>
