<style>
    .rad {

        background-color: #AAAAAA;

        border: 1px solid #C0C0C0;

        width: 50px;

        height: 30px;

        text-align: center;

        vertical-align: middle;

        line-height: 30px;

        cursor: pointer;

    }
</style>
<script src="https://unpkg.com/petite-vue" defer init></script>
<script type="module">
    import { createApp } from 'https://unpkg.com/petite-vue?module'
    createApp({
        tokens: 100
    }).mount()
    
</script>

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-9">
            <div class="form-group">
                <label for="input">Input</label>
                <textarea class="form-control" id="input" style="height:350px"
                    placeholder="Input your query"></textarea>
            </div>
        </div>

        <div class="row col-sm-3 justify-content-center">
            <div class="col-sm-12">
                <label for="config">config</label>
                <div class="card" style="height:350px">
                    <div class="card-body">
                        <div class="form-group">
                            <label  for="range-input">Max Tokens: </label>
                            <input type="number" class="form-control" id="range-value" min="0" max="4000" step="1" v-model="tokens"/>
                            <input type="range" class="form-control-range" id="range-input" min="0" max="4000" step="1" v-model="tokens"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="other">Output</label>
                <textarea class="form-control" id="result" rows="5" placeholder="Output"></textarea>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mb-5">
        <button type="submit" class="btn btn-primary" id="submit-btn">submit</button>
    </div>

</div>
